.stiffSelectorDiv {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 3px;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid white;
	margin-top: 10px;
	transition: all .2s ease;
	margin-bottom:10px;
	margin-top:20px;
}
.info{
	margin-left:0 !important;
}

.stiffSelectorDiv.fix{
	width:436px;
	margin-right:0;
}
.stiffSettingsPage{
	width:660px;
	position: relative;
}
/*
@keyframes littleJump{
	0%{
		transform: translateY(0px) translate(-50%,-50%)
	}
	20%{
		transform: translateY(-5px) translate(-50%,-50%)
	}
	40%{
		transform: translateY(0px) translate(-50%,-50%)
	}
}
@keyframes palletTurn{
	0%{
		transform: rotate(0deg) translate(-50%,-50%)
	}
	100%{
		transform: rotate(360deg) translate(-50%,-50%)
	}
}
@keyframes heyThere{
	0%{
		transform: scale(1,1) translate(-50%,-50%)
	}
	50%{
		transform: scale(1.2,1.2) translate(-50%,-50%)
	}
	100%{
		transform: scale(1,1) translate(-50%,-50%)
	}
}
.stiffSelectorDiv.info:hover:before{
	animation: littleJump 1s cubic-bezier(1,0,0,1);
}
.stiffSelectorDiv.color:hover:before{
	animation: palletTurn .7s;
}
.stiffSelectorDiv.background:hover:before{
	animation: heyThere .7s cubic-bezier(1,0,0,1);
}*/
.stiffPageWrapper{
	padding:20px;
	background: #abab00ab;
	position: relative;
	transition: background 1s ease;
	animation: fadeIn .3s;
}
.stiffSelectorDiv.css:before{
	background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_import_export_white_48px.svg);
}
.stiffSelectorDiv.info:before{
	background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_subject_white_48px.svg);
}
.stiffSelectorDiv.background:before{
	background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_portrait_white_48px.svg);
}
.stiffSelectorDiv.color:before{
	background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_palette_white_48px.svg);
}
.stiffSelectorDiv:not(.fix):hover{
	background:#abab00ab;
}
.stiffSelectorDiv:before {
	transition: all .2s ease;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	animation: spawnSelected .5s ease;
}

@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

.stiffImagePicker{
    width:620px;
    min-height:310px;
    background-color: black;
    position: relative;
}
.stiffHeaderImage{
    width:500px;
    height:300px;
    background:url(https://media.discordapp.net/attachments/179642073048285185/409380741068226561/logoBig.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-left:120px;
}
.stiffImagePicker:after{
    content:'';
    width:20px;
    height:20px;
    position: absolute;
    left:10px;
    background: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_publish_white_48px.svg);
    background-size:contain;
    opacity:0;
    border-radius: 2px;
    transition: all .2s;
    top:0;
}
.stiffImagePicker:hover{
    cursor:pointer;
}
.stiffImagePicker:hover:after{
    opacity:1;
    top:10px;
}
.stiffInfoStrip{
    margin-top:20px;
    margin-bottom:10px;
    color:white;
}
.circle-picker{
    width:640px !important;
}

.ripple {
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
	transform: scale(0);
	position: absolute;
	opacity: 1;
	z-index: 7000;
	pointer-events: none;
	overflow: hidden !important;
}
.guild .avatar-small, .guild .friends-icon {
	position: relative;
	overflow: hidden !important;
	border-radius: 300px !important;
}
.member, .button-1aU9q1, .flexChild-1KGW5q, .containerDefault-1bbItS, .containerDefault-7RImuF {
	position: relative;
	overflow: hidden !important;
}
.rippleEffect {
	animation: rippleDrop .6s linear;
	overflow: hidden !important;
}
@keyframes rippleDrop {
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
.backgroundImage{
	width:800px;
	height:300px;
}
.stiffHeader {
	position: relative;
	width: 690px;
	height: 388px;
	background: url('https://cdn.discordapp.com/attachments/336139100891643904/382245765927665665/logoBig.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.circle-picker{
	transition: all .2s;
}
.circle-picker > span div{
	border-radius: 0 !important;
	width:25px !important;
	height:25px !important;
}
.chrome-picker svg {
	background: transparent !important;
}
.chrome-picker svg * {
	fill: white;
}
.chrome-picker input {
	background: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	border-bottom: 1px solid white !important;
}
.chrome-picker * {
	font-family: 'Roboto', sans-serif;
	color: white !important;
}
.chrome-picker {
	animation: fadeIn .3s;
	display: none;
	position: absolute;
	top:30px;
	left:80px;
	box-shadow: none !important;
	background: #212121 !important;
	font-family: 'Roboto', sans-serif;
	z-index:7000;
}
.pickerButtonExit {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid white;
	margin-top: 10px;
	transition: all .2s ease;
	margin-bottom:10px;
}
.pickerButtonExit:hover {
	background: white;
}
.pickerButtonExit:hover:before,.pickerButtonExit:hover:after {
	filter: invert(100%);
}

.sidebar{
	transition: background 1s ease;
}
.pickerButtonExit:before {
	transition: all .2s ease;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_close_white_48px.svg');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	animation: spawnSelected .5s ease;
}
.stiffCustomColor{
	color:white;
	display: inline-block;
	position: absolute;
	left:80px;
	top:40px;
	font-size:30px;
}
.pickerButton {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid white;
	margin-top: 10px;
	transition: all .2s ease;
	margin-bottom:10px;
}
.pickerButton:hover {
	background: white;
}
.pickerButton:hover:before,.pickerButton:hover:after {
	filter: invert(100%);
}
.pickerButton:before {
	transition: all .2s ease;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_color_fill_white_48px.svg');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	animation: spawnSelected .5s ease;
}
.pickerButtonCheck:before {
	animation: fadeIn 2s ease;
	transition: all .2s ease;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_check_white_48px.svg');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	animation: spawnSelected .5s ease;
}
